label {
  display: inline-block;
  min-width: 72px;
}

input,
select {
  width: 120px;
  heigth: 56px;
  background-color: #dcb5ac;
}

body {
  background-color: bisque;
}

#app {
  margin: 10 auto;
}

.preference {
  width: 240px;
  heigth: 120px;
  background-color: #cba49b;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid brown;
  margin-bottom: 4px;
}

hr {
  width: 240px;
  margin-left: 0;
}

button {
  padding: 4px;
  border-radius: 8px;
  background-color: grey;
  color: yellow;
  margin-right: 16px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.31);
  border: 1px solid brown;
}